button#close-menu {
    top: 3%;
    left: 75%;
    float: right;
    background: black;
    color: white;
    position: absolute;
    border: none;
    margin: 5px 14px;
    padding: 5px 10px;
}

button.go-to-bottom,button.go-to-top{
opacity: 0;
}
